<% include headerAlumno %>
<div class="row">
	<div class="col-sm-7">
		<div class="row team-list">
			<!-- Member Image Column -->
			<div class="col-md-4">
				<div class="owl-carousel dots-inline" 
					data-animatein="" 
					data-animateout="" 
					data-items="1" data-margin="" 
					data-loop="true" 
					data-merge="true" 
					data-nav="false" 
					data-dots="true" 
					data-stagepadding="" 
					data-mobile="1" 
					data-tablet="1" 
					data-desktopsmall="1"  
					data-desktop="1" 
					data-autoplay="false" 
					data-delay="3000" 
					data-navigation="true">
					
					<div class="item"><img class="img-responsive" src="images/teacher/teacher-single-01.jpg" alt="..." width="400" height="500"></div>
					<div class="item"><img class="img-responsive" src="images/teacher/teacher-single-02.jpg" alt="..." width="400" height="500"></div>
					<div class="item"><img class="img-responsive" src="images/teacher/teacher-single-03.jpg" alt="..." width="400" height="500"></div>
				</div><!-- carousel -->
			</div><!-- Coloumn -->
			<!-- Coloumn -->
			<div class="col-md-8">
				<div class="member-detail-wrap">
					<h4 class="member-name">Sam Anderson</h4>
					<span class="position">Maths Techer</span>
					<div class="share">
						<h5>Connect : </h5>
						<ul class="social-icons color round">
							<li class="facebook"><a title="Facebook" target="_blank" href="http://www.facebook.com/">Facebook</a></li>
							<li class="twitter"><a title="Twitter" target="_blank" href="http://www.twitter.com/">Twitter</a></li>
							<li class="linkedin"><a title="Linkedin" target="_blank" href="http://www.linkedin.com/">Linkedin</a></li>
							<li class="mail"><a title="mail" target="_blank" href="http://www.gmail.com/">mail</a></li>
							<li class="googleplus"><a title="googleplus" target="_blank" href="http://www.googleplus.com/">googleplus</a></li>
							<li class="wordpress"><a title="wordpress" target="_blank" href="http://www.wordpress.com/">wordpress</a></li>
							<li class="instagram"><a title="instagram" target="_blank" href="http://www.instagram.com/">instagram</a></li>
						</ul><!-- Blog Social Share -->
					</div>
					<blockquote>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis vitae temporibus enim sed. Optio, reprehenderit, ex.Repellendus, quaerat beatae nulla debitis vitae</p>
					</blockquote>
				</div><!-- Member Detail Wrapper -->
			</div><!-- Member Detail Column -->
			
			<!-- Column -->
			<div class="col-md-12  margin-top-50">
				<h4 class="title-simple">Courses</h4>
				<table class="table default">
					<thead>
						<tr>
							<th> Title </th>
							<th> Estimate Time </th>
							<th> Spent Time </th>
							<th> Status </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> 1.1 Introduction </td>
							<td> 50:30 </td>
							<td> 45:30 </td>
							<td> Completed </td>
						</tr>
						<tr>
							<td> 1.2 Create your project </td>
							<td> 35:30 </td>
							<td> 80:25 </td>
							<td> Completed </td>
						</tr>
						<tr>
							<td> 1.3 Document Setup </td>
							<td> 80:10 </td>
							<td> 65:50 </td>
							<td> Private </td>
						</tr>
						<tr>
							<td> 1.4 Implement </td>
							<td> 40:30 </td>
							<td> - </td>
							<td> Pending </td>
						</tr>
					</tbody>
				</table>
			</div><!-- Column -->
			
			<!-- Column -->
			<div class="col-md-12 margin-top-50">
				<h4 class="title-simple">Events</h4>
				<table class="table default">
					<thead>
						<tr>
							<th> Title </th>
							<th> Estimate Time </th>
							<th> Spent Time </th>
							<th> Status </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> 1.1 Introduction </td>
							<td> 50:30 </td>
							<td> 45:30 </td>
							<td> Completed </td>
						</tr>
						<tr>
							<td> 1.2 Create your project </td>
							<td> 35:30 </td>
							<td> 80:25 </td>
							<td> Completed </td>
						</tr>
						<tr>
							<td> 1.3 Document Setup </td>
							<td> 80:10 </td>
							<td> 65:50 </td>
							<td> Private </td>
						</tr>
						<tr>
							<td> 1.4 Implement </td>
							<td> 40:30 </td>
							<td> - </td>
							<td> Pending </td>
						</tr>
					</tbody>
				</table>
			</div><!-- Column -->
		</div><!-- Row -->
	</div>
	<div class="col-sm-5">
		<div id="universh-timeline" class="universh-container">
			<!-- Start -->
			<div class="universh-timeline-img"><span>2016</span></div>
			<!-- Wrapper -->
			<div class="universh-timeline-block">
				<div class="universh-timeline-img bg-green"><i class="fa fa-building"></i></div>
				<!-- Timeline Image -->
				<div class="universh-timeline-content">
					<h4>Blog Title</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure 
						tempora laudantium ipsa ad debitis unde?</p>
						<a href="blog-single-left-2.html" class="btn">Read more</a> <span class="universh-date">Jan 14</span>
					</div><!-- Timeline Content -->
				</div><!-- Wrapper -->
				
				<!-- Wrapper -->
				<div class="universh-timeline-block">
					<div class="universh-timeline-img bg-yellow"><i class="fa fa-heart"></i></div>
					<div class="universh-timeline-content">
						<h4>Blog Title</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure 
							tempora laudantium ipsa ad debitis unde?</p>
							<a href="blog-single-left-2.html" class="btn">Read more</a> <span class="universh-date">Jan 18</span>
						</div>
					</div><!-- Wrapper -->
					
					<!-- Wrapper -->
					<div class="universh-timeline-block">
						<div class="universh-timeline-img bg-green"><i class="fa fa-users"></i></div>
						<div class="universh-timeline-content">
							<h4>Blog Title</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate
								error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi
								eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam 
								dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
								<a href="blog-single-left-2.html" class="btn">Read more</a> <span class="universh-date">Jan 24</span>
							</div><!-- Timeline Content -->
						</div><!-- Wrapper -->
						
						<!-- Wrapper -->
						<div class="universh-timeline-block">
							<div class="universh-timeline-img bg-voilet"><i class="fa fa-area-chart"></i></div>
							<div class="universh-timeline-content">
								<h4>Blog Title</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium
									ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
									<a href="blog-single-left-2.html" class="btn">Read more</a> <span class="universh-date">Feb 14</span>
								</div><!-- Timeline Content -->
							</div><!-- Wrapper -->
							
							<!-- Wrapper -->
							<div class="universh-timeline-block">
								<div class="universh-timeline-img bg-pink"><i class="fa fa-pagelines"></i></div>
								<div class="universh-timeline-content">
									<h4>Blog Title</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
									<a href="blog-single-left-2.html" class="btn">Read more</a> <span class="universh-date">Feb 18</span>
								</div><!-- Timeline Content -->
							</div><!-- Wrapper -->
							
							<!-- Wrapper -->
							<div class="universh-timeline-block">
								<div class="universh-timeline-img"><i class="fa fa-simplybuilt"></i></div>
								<div class="universh-timeline-content">
									<h4>Blog Title</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,</p>
									<span class="universh-date">Feb 26</span>
								</div><!-- Timeline Content -->
							</div><!-- Wrapper -->
						</div>
						
					</div>
				</div>
				<% include footerAlumno %>