</div><!-- Page Default -->
</div>
<footer id="footer" class="footer-1">
	<!-- Footer Copyright -->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<!-- Copy Right Logo -->
				<div class="col-md-2">
					<a class="logo" href="index.html">
						<img src="images/default/logo-footer.png" width="211" height="40"  class="img-responsive" alt="Universh Education HTML5 Website Template">
					</a>
				</div><!-- Copy Right Logo -->
				<!-- Copy Right Content -->
				<div class="col-md-6">
					<p>&copy; Copyright 2016. All Rights Reserved. | By <a href="www.glorythemes.html" title="glorythemes">Glory Themes</a></p>
				</div><!-- Copy Right Content -->
				<!-- Copy Right Content -->
				<div class="col-md-4">
					<nav class="sm-menu">
						<ul>
							<li><a href="page-faq.html">FAQ's</a></li>
							<li><a href="page-sitemap.html">Sitemap</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav><!-- Nav -->
				</div><!-- Copy Right Content -->
			</div><!-- Footer Copyright -->
		</div><!-- Footer Copyright container -->
	</div><!-- Footer Copyright -->
</footer>
<!-- Footer -->

<!-- library -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrapValidator.min.js"></script>
<script src="js/lib/jquery.appear.js"></script>
<script src="js/lib/jquery.easing.min.js"></script>
<script src="js/lib/owl.carousel.min.js"></script>
<script src="js/lib/countdown.js"></script>
<script src="js/lib/counter.js"></script>
<script src="js/lib/isotope.pkgd.min.js"></script>
<script src="js/lib/jquery.easypiechart.min.js"></script>
<script src="js/lib/jquery.mb.YTPlayer.min.js"></script>
<script src="js/lib/jquery.prettyPhoto.js"></script>
<script src="js/lib/jquery.stellar.min.js"></script>
<script src="js/lib/menu.js"></script>

<script src="js/lib/modernizr.js"></script>
<!-- Theme Base, Components and Settings -->
<script src="js/theme.js"></script>

<!-- Theme Custom -->
<script src="js/custom.js"></script>

</body>

<!-- Mirrored from glorytheme.com/template/universh/demo/timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Mar 2017 18:57:26 GMT -->
</html>