<!DOCTYPE html>
<html>
	
<!-- Mirrored from glorytheme.com/template/universh/demo/timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Mar 2017 18:57:26 GMT -->
<head>
		<!-- Basic -->
		<meta charset="utf-8">
		<title>Alumno</title>
		<meta name="keywords" content="Universh - Material Education, Events, News, Learning Centre & Kid School MultiPurpose HTML5 Template" />
		<meta name="description" content="Universh - Material Education, Events, News, Learning Centre & Kid School MultiPurpose HTML5 Template">
		<meta name="author" content="glorythemes.in">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Favicon -->
        <link rel="shortcut icon" href="images/default/favicon.png">
		<!-- Web Fonts  -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' 
		rel='stylesheet' type='text/css'>

		<!-- Lib CSS -->
		<link rel="stylesheet" href="css/lib/bootstrap.min.css">
		<link rel="stylesheet" href="css/lib/animate.min.css">
		<link rel="stylesheet" href="css/lib/font-awesome.min.css">
		<link rel="stylesheet" href="css/lib/univershicon.css">
		<link rel="stylesheet" href="css/lib/owl.carousel.css">
		<link rel="stylesheet" href="css/lib/prettyPhoto.css">
		<link rel="stylesheet" href="css/lib/menu.css">
		<link rel="stylesheet" href="css/lib/timeline.css">
		
		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-responsive.css">
		
		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->
		
		<!-- Skins CSS -->
		<link rel="stylesheet" href="css/skins/default.css">
		
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
		<!-- Page Loader -->
<div id="pageloader">
	<div class="loader-inner">
		<img src="images/default/preloader.gif" alt="">
	</div>
</div><!-- Page Loader -->

<!-- Back to top -->
<a href="#0" class="cd-top">Top</a>	
<!-- Header Begins -->	
<header id="header" class="default-header colored flat-menu">
	<div class="container">
		<div class="logo">
			<a href="index.html">
				 <img alt="Universh" width="211" height="40" data-sticky-width="150" data-sticky-height="28" src="images/default/logo.png">
			</a>
		</div>
		<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<div class="container">
			<!--nav class="nav-main mega-menu">
				<ul class="nav nav-pills nav-main" id="mainMenu">
					<li class="dropdown mega-menu-item mega-menu-fullwidth mega-menu-halfwidth">
						<a class="dropdown-toggle" href="#">
							Home
							<i class="fa fa-caret-down"></i>						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-6">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Demo</span>
													<ul class="sub-menu">
														<li><a href="index.html">Home - Default</a></li>
														<li><a href="index-kids.html">Home - Kids School</a></li>
														<li><a href="index-news.html">Home - News</a></li>
														<li><a href="index-events.html">Home - Events</a></li>
														<li><a href="index-one-page.html">Home - One Page<span class="tip pink">Trend</span></a></li>
														<li><a href="index-bg-video.html">Video Background</a></li>
														<li><a href="index-slider-owl.html">Owl Custom Slider</a></li>
														<li><a href="index-slider-rs.html">Revolution Slider</a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-6">
											<ul class="sub-menu">
												<li>
													<span class="mega-menu-sub-title">Demo</span>
													<ul class="sub-menu">
														<li><a href="index-magazine.html">Home - Magazine<span class="tip green">New</span></a></li>
														<li><a href="index-shop.html">Home - Shop<span class="tip green">New</span></a></li>
														<li><a href="index-bookstore.html">Home - Book Store<span class="tip green">New</span></a></li>
														<li><a href="index-booklanding.html">Home - Book Landing<span class="tip green">New</span></a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">
							Pages
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Shop<span class="tip pink">Added</span></a>
								<ul class="dropdown-menu">
									<li><a href="shop-2-column.html">Shop 2 Column</a></li>
									<li><a href="shop-3-column.html">Shop 3 Column</a></li>
									<li><a href="shop-4-column.html">Shop 4 Column</a></li>
									<li><a href="shop-single.html">Shop Single</a></li>
									<li><a href="shop-single-left.html">Shop Single Left Sidebar</a></li>
									<li><a href="shop-single-right.html">Shop Single Right Sidebar</a></li>
									<li><a href="shop-checkout.html">Checkout</a></li>
									<li><a href="shop-login.html">Login</a></li>
									<li><a href="shop-cart.html">Cart</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">News</a>
								<ul class="dropdown-menu">
									<li><a href="news-2-column.html">News 2 Column</a></li>
									<li><a href="news-3-column.html">News 3 Column</a></li>
									<li><a href="news-4-column.html">News 4 Column</a></li>
									<li><a href="news-single.html">News Single</a></li>
									<li><a href="news-single-left.html">News Single Left Sidebar</a></li>
									<li><a href="news-single-right.html">News Single Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Teacher</a>
								<ul class="dropdown-menu">
									<li><a href="teacher.html">Teacher v1</a></li>
									<li><a href="teacher-v2.html">Teacher v2</a></li>
									<li><a href="teacher-list.html">Teacher List</a></li>
									<li><a href="teacher-single.html">Teacher Single</a></li>
									<li><a href="teacher-single-left.html">Teacher Single Left Sidebar</a></li>
									<li><a href="teacher-single-right.html">Teacher Single Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Gallery</a>
								<ul class="dropdown-menu">
									<li><a href="gallery-masonry-2-column.html">Masonry 2 Column</a></li>
									<li><a href="gallery-masonry-3-column.html">Masonry 3 Column</a></li>
									<li><a href="gallery-masonry-4-column.html">Masonry 4 Column / Fullwidth</a></li>
									<li><a href="gallery-grid-2-column.html">Grid 2 Column</a></li>
									<li><a href="gallery-grid-3-column.html">Grid 3 Column</a></li>
									<li><a href="gallery-grid-4-column.html">Grid 4 Column</a></li>
									<li><a href="gallery-grid-gutter.html">Grid Gutter<span class="tip pink">Unique</span></a></li>
									<li><a href="gallery-masonry-gutter.html">Masonry Gutter<span class="tip yellow">Elegant</span></a></li>
									<li><a href="gallery-single.html">Gallery Single</a></li>
									<li><a href="gallery-single-left.html">Gallery Single Left Sidebar</a></li>
									<li><a href="gallery-single-right.html">Gallery Single Right Sidebar</a></li>
								</ul>
							</li>
							
							<li><a href="timeline.html">Timeline<span class="tip green">Trend</span></a></li>
							<li><a href="pricing.html">Pricing</a></li>
							<li><a href="testimonial.html">Testimonial</a></li>
						</ul>
					</li>
					<li class="dropdown mega-menu-item mega-menu-fullwidth">
						<a class="dropdown-toggle" href="#">
							Features
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-3">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Header</span>
													<ul class="sub-menu">
														<li><a href="header-1.html">Header 1 - Default</a></li>
														<li><a href="header-2-center.html">Header 2 - Center</a></li>
														<li><a href="header-3-login.html">Header 3 - Login<span class="tip">Trend</span></a></li>
														<li><a href="header-4-profile.html">Header 4 - Profile</a></li>
														<li><a href="header-5-fullwidth.html">Header 5 - Full Width</a></li>
														<li><a href="header-6-blowslider.html">Header 6 - Below Slider</a></li>
														<li><a href="header-7-sticky.html">Header 7 - Sticky</a></li>
														<li><a href="header-8-transparent.html">Header 8 - Transparent</a></li>
														<li><a href="header-9-semitransparent.html">Header 9- Semi Transparent</a></li>
														<li><a href="header-10-semitransparent-light.html">Header 10 - Semi Transparent - Light</a></li>
													</ul>
												</li>
											</ul>
										</div>
										
										<div class="col-md-3">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Extra Pages</span>
													<ul class="sub-menu">
														<li><a href="page-404.html">404</a></li>
														<li><a href="page-construction.html">Under Construction</a></li>
														<li><a href="page-comingsoon.html">Coming Soon</a></li>
														<li><a href="page-signup.html">Signup</a></li>
														<li><a href="page-login.html">Login</a></li>
														<li><a href="page-widgets.html">Widgets<span class="tip red">Hot</span></a></li>
														<li><a href="page-faq.html">Faq</a></li>
														<li><a href="page-sitemap.html">Sitemap</a></li>
														<li><a href="page-blank.html">Blank Template</a></li>
														<li><a href="page-email.html" target="_blank">Email Template<span class="tip green">Featured</span></a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Layout</span>
													<ul class="sub-menu">
														<li><a href="layout-fullwidth.html">Full Width</a></li>
														<li><a href="layout-boxed.html">Boxed<span class="tip yellow">Elegant</span></a></li>
														<li><a href="layout-wide.html">Wide</a></li>
														<li><a href="layout-left.html">Left Sidebar</a></li>
														<li><a href="layout-right.html">Right Sidebar</a></li>
														<li><a href="layout-both.html">Both Sidebar</a></li>
														<li><a href="layout-both-left.html">Both Left Sidebar</a></li>
														<li><a href="layout-both-right.html">Both Right Sidebar</a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-3">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Footer</span>
													<ul class="sub-menu">
														<li><a href="footer-1.html#footer">Footer 1</a></li>
														<li><a href="footer-2.html#footer">Footer 2</a></li>
														<li><a href="footer-3.html#footer">Footer 3<span class="tip pink">New</span></a></li>
														<li><a href="footer-4.html#footer">Footer 4</a></li>
														<li><a href="footer-5.html#footer">Footer 5</a></li>
														<li><a href="footer-6.html#footer">Footer 6</a></li>
														<li><a href="footer-7.html#footer">Footer 7</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">
							Course
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Course Grid</a>
								<ul class="dropdown-menu">
									<li><a href="course.html">Grid</a></li>
									<li><a href="course-left.html">Grid Left Sidebar</a></li>
									<li><a href="course-right.html">Grid Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Course List</a>
								<ul class="dropdown-menu">
									<li><a href="course-list.html">List</a></li>
									<li><a href="course-list-left.html">List Left Sidebar</a></li>
									<li><a href="course-list-right.html">List Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Course Single</a>
								<ul class="dropdown-menu">
									<li><a href="course-single.html">Single</a></li>
									<li><a href="course-single-left.html">Single Left Sidebar</a></li>
									<li><a href="course-single-right.html">Single Right Sidebar</a></li>
								</ul>
							</li>
							<li><a href="course-2-column.html">Course 2 Column</a></li>
							<li><a href="course-3-column.html">Course 3 Column</a></li>
							<li><a href="course-4-column.html">Course 4 Column</a></li>
							<li><a href="course-search.html">Search Course</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">
							Events
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Events Grid</a>
								<ul class="dropdown-menu">
									<li><a href="event.html">Grid</a></li>
									<li><a href="event-left.html">Grid Left Sidebar</a></li>
									<li><a href="event-right.html">Grid Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Events List</a>
								<ul class="dropdown-menu">
									<li><a href="event-list.html">List</a></li>
									<li><a href="event-list-left.html">Events Left Sidebar</a></li>
									<li><a href="event-list-right.html">Events Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Events Single</a>
								<ul class="dropdown-menu">
									<li><a href="event-single.html">Event</a></li>
									<li><a href="event-single-left.html">Event Left Sidebar</a></li>
									<li><a href="event-single-right.html">Event Right Sidebar</a></li>
								</ul>
							</li>
							<li><a href="event-2-column.html">Events 2 Column</a></li>
							<li><a href="event-3-column.html">Events 3 Column</a></li>
							<li><a href="event-4-column.html">Events 4 Column</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">
							Blog
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href="#">Blog Grid</a>
								<ul class="dropdown-menu">
									<li><a href="blog.html">Grid</a></li>
									<li><a href="blog-left.html">Grid Left Sidebar</a></li>
									<li><a href="blog-right.html">Grid Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Blog List</a>
								<ul class="dropdown-menu">
									<li><a href="blog-list.html">List</a></li>
									<li><a href="blog-list-left.html">List Left Sidebar</a></li>
									<li><a href="blog-list-right.html">List Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Blog Large</a>
								<ul class="dropdown-menu">
									<li><a href="blog-large.html">Large</a></li>
									<li><a href="blog-large-left.html">Large Left Sidebar</a></li>
									<li><a href="blog-large-right.html">Large Right Sidebar</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu">
								<a href="#">Blog Single</a>
								<ul class="dropdown-menu">
									<li><a href="blog-single.html">Single</a></li>
									<li><a href="blog-single-left.html">Single Left Sidebar</a></li>
									<li><a href="blog-single-right.html">Single Right Sidebar</a></li>
									<li><a href="blog-single.html#login-form">Single with login Form</a></li>
									<li><a href="blog-single-comment.html#post-comment">Single with comment</a></li>
								</ul>
							</li>
							<li><a href="blog-timeline.html">Timeline<span class="tip pink">Wanted</span></a></li>
							<li><a href="blog-2-column.html">Blog 2 Column</a></li>
							<li><a href="blog-3-column.html">Blog 3 Column</a></li>
							<li><a href="blog-4-column.html">Blog 4 Column</a></li>
						</ul>
					</li>
					<li class="dropdown mega-menu-item mega-menu-fullwidth">
						<a class="dropdown-toggle" href="#">
							Elements
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<div class="mega-menu-content">
									<div class="row">
										<div class="col-md-2">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Element I</span>
													<ul class="sub-menu">
														<li><a href="element-animation.html">Animation</a></li>
														<li><a href="element-accordion.html">Accordion</a></li>
														<li><a href="element-alerts.html">Alerts</a></li>
														<li><a href="element-backgrounds.html">Backgrounds<span class="tip green">New</span></a></li>
														<li><a href="element-column.html">Responsive Grids</a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-2">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Element II</span>
													<ul class="sub-menu">
														<li><a href="element-contentbox.html">Contentbox</a></li>
														<li><a href="element-counter.html">Counter</a></li>
														<li><a href="element-forms.html">Forms<span class="tip yellow">Evergreen</span></a></li>
														<li><a href="element-gmap.html">Google map</a></li>
														<li><a href="element-icon.html">Icon</a></li>
													</ul>
												</li>
											</ul>
										</div>
										
										<div class="col-md-2">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Element III</span>
													<ul class="sub-menu">
														<li><a href="element-panel.html">Panel</a></li>
														<li><a href="element-piechart.html">Pie / Skill</a></li>
														<li><a href="element-progressbar.html">Progress Bar</a></li>
														<li><a href="element-tab.html">Tab</a></li>
														<li><a href="element-table.html">Table</a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-2">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Element IV</span>
													<ul class="sub-menu">
														<li><a href="element-typography.html">Typography</a></li>
														<li><a href="element-title.html">Section Title</a></li>
														<li><a href="element-carousel.html">Owl Carousel<span class="tip pink">trend</span></a></li>
														<li><a href="element-client.html">Clients</a></li>
														<li><a href="element-extras.html">Extras</a></li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="col-md-4">
											<ul class="sub-menu menu-border">
												<li>
													<span class="mega-menu-sub-title">Page Headers</span>
													<ul class="sub-menu">
														<li><a href="page-header-default.html">Page Header - Default</a></li>
														<li><a href="page-header-dark.html">Page Header - Dark</a></li>
														<li><a href="page-header-small.html">Page Header - Small</a></li>
														<li><a href="page-header-bg-video.html">Page Header - Background Video</a></li>
														<li><a href="page-header-bg-image.html">Page Header - Background Image</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#">
							Contact Us
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="contact.html">Contact 1</a></li>
							<li><a href="contact-2.html">Contact 2<span class="tip green">Advanced</span></a></li>
						</ul>
					</li>
				</ul>
			</nav-->
		</div>
	</div>
</header>
<div role="main" class="main">
	<div class="page-default bg-grey typo-dark">