<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody id="datos">
        
    </tbody>
</table>
<div id="datos"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>