<div class="uk-width-large-1-2">
    <div class="uk-form-row">
        <label for="nombre" class="uk-form-label">Nombre</label>
        <input type="text" ng-model="campus.nombre" id="campus"class="md-input"/>
    </div>
</div>
<div class="uk-width-large-1-2">
    <div class="uk-form-row">
        <label for="nombre class="uk-form-label"">Direccion</label>
        <input type="text" ng-model="campus.direccion" id="direccion" class="md-input"/>
    </div>
</div>
<script>
    setTimeout(function() {
        altair_md.init();
        altair_forms.init();}, 50);
</script>