<div class="uk-width-large-1-2">
    <div class="uk-form-row">
        <label for="matricula" class="uk-form-label">Nombre</label>
        <input type="text" ng-model="periodo.nombre" id="nombre"class="md-input"/>
    </div>
    <div class="uk-form-row">
        <label for="nombre" class="uk-form-label">Abreviacion</label>
        <input type="text" ng-model="periodo.abreviacion" id="abreviacion" class="md-input"/>
    </div>
</div>
<div class="uk-width-large-1-2">
    <div class="uk-form-row">
        <label for="inicio" class="uk-form-label">Fecha de inicio {{ periodo.fechaInicio | date:'medium' }}</label>
        <input type="date" ng-model="periodo.fechaInicio" class="md-input" id="fechaInicio" placeholder="yyyy-MM-dd"/>
    </div>
    <div class="uk-form-row">
        <label for="finalizacion" class="uk-form-label">Fecha de finalización {{ periodo.fechaFinalizacion | date:'medium' }}</label>
        <input type="date" ng-model="periodo.fechaFinalizacion" class="md-input" id="fechaFinalizacion" placeholder="yyyy-MM-dd"/>
    </div>
</div>
<script>
    setTimeout(function() {
        altair_md.init();
        altair_forms.init();}, 50);
</script>