<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-2-10">
                    <label for="product_search_price">Nombre del campus</label>
                    <input type="text" class="md-input" id="campus_busqueda_matricula" ng-model="q.nombre">
                </div>
                <!--<div class="uk-width-medium-3-10">
                    <label for="product_search_name">Dirección</label>
                    <input type="text" class="md-input" id="alumno_busqueda_nombre">
                </div>
                <div class="uk-width-medium-2-10">
                    <div class="uk-margin-small-top">
                        <select id="alumno_busqueda_sexo" data-md-selectize>
                            <option value="1" selected="selected">Cualquier sexo</option>
                            <option value="2">Masculino</option>
                            <option value="3">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-medium-3-10">
                    <div class="uk-margin-small-top">
                        <select id="product_search_status" data-md-selectize multiple data-md-selectize-bottom>
                            <option value="">Status</option>
                            <option value="1">In stock</option>
                            <option value="2">Out of stock</option>
                            <option value="3">Ships in 3-5 days</option>
                        </select>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-align-vertical">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="campus in campus | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                                    <td class="uk-text-large uk-text-nowrap">{{ campus.nombre }}</td>
                                    <td class="uk-text-nowrap">{{ campus.direccion }}</td>
                                    <td class="uk-text-nowrap">
                                        <a title="Ver" ui-sref="viewCampus({_id:campus:campus._id})"><i class="material-icons md-24 uk-text-primary">&#xE8F4;</i></a>
                                        <a title="Eliminar" ng-click="deleteCampus(campus)" class="uk-margin-left"><i class="material-icons md-24 uk-text-danger">&#xE872;</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="md-fab-wrapper">
        <a class="md-fab md-fab-accent" ui-sref="newCampus">
            <i class="material-icons">&#xE145;</i>
        </a>
    </div>
</div>
<script>
    setTimeout(function() {
        altair_md.init();
        altair_forms.init();}, 50);
</script>